@charset "utf-8";
/* CSS Document */

p {
	color: deeppink;
	font-family: helvetica, arial, sans-serif;
	text-align: left;
	line-height: 100%;
	width: 500px;
}

body {
	background-color: #2A1FF7;
	background-image: url(images/cat.jpg);
	/*background-repeat: no-repeat;
	background-position: 50%, 50%; */
	background-size: cover;
}

h1 {
	font-family: 'Notable', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 60px;
	/*text-decoration: underline;*/	
}

a {
	color: dimgray;
	text-decoration: none;
}

a:link {
	color: blue;
}

a:visited {
	color: #130C65;
}

a:hover {
	color: #00FF03;
	font-weight: bold;
	text-decoration: underline;
}

a:active {
	color: #E0FF00;
}





